@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Oxygen-Regular;
  src: url(../fonts/Oxygen-Regular.ttf);
}

body {
  font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif !important;
  background-color: #c0d6bc;
}
/* ENLACES */
a{
color: #baa480;
}
/* a:hover {
  color: #baa480;
  transform: scale(1.2);
  filter: drop-shadow(4px 4px 4px rgba(32, 53, 54, 0.4));
} */

/* BOTONES */
.btn:hover {
  background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
  transform: scale(1.1);
}



