@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Oxygen-Regular;
  src: url(../fonts/Oxygen-Regular.ttf);
}

body {
  font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif !important;
  background-color: #c0d6bc;
}

/* ESTILOS DEL HEADER */
.header {
  width: 100%;
  padding: 25px 50px 0;
  background-color: #455c50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* Logo */
header .container__logo img {
  width: 300px;
}

/* Menú */
header .container__menu {
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  gap: 15px; */
  padding: 0;
  margin: 0;
}
.nav_links {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.nav_links li {
  position: relative;
  margin: 0px 1rem;
  color: #baa480;
}
.nav_links li:hover {
  color: #928d7f;
  transition: all 0.3s;
}

/* Carrito */
.cart_container {
  width: 35px;
  padding: 0;
  background-color: transparent !important;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center; 
  gap: 3px;
}
.cart_container:hover {
  filter: drop-shadow(0px 0px 5px #c0d6bc);
}
.cart_pic {
  width: 35px;
  height: auto;
  transition: all 0.3s;
}
.cart_bubble {
  background-color: #baa480;
  color: #455c50;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

/* ITEM LIST CONTAINER */
.welcome_banner {
  background-color: #455c50;
  color: #baa480;
  width: 60%;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
